.home-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 64px;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  /* min-height: 155vh; */
}

.home-content > p {
  line-height: 1.35;
}

.content-block {
  font-size: 24px;
  margin-bottom: 0;
  color: black;
}

.donation-link,
.donation-link:hover,
.donation-link:active {
  color: black;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.header-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .home-content {
    margin-top: 0;
    padding: 0px 12px;
  }

  .home-content > p {
    line-height: 1.2;
  }

  .content-block {
    font-size: 25px;
    color: black;
   
  }

  .home-content > p:first-of-type {
    margin-top: 0;
  }

  .header-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 14px;
    padding-top: 2px;
  }
}
