.ui-container {
  position: fixed;
  width: calc(100vw - 32px);
  height: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  z-index: 100;
}

.ui-container-mobile {
  display: none;
}

.ui-header,
.ui-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-window {
  height: 360px;
  width: 360px;
  border: 2px solid black;
  background-color: white;
}

.cursor-window {
  width: 100%;
  height: 100%;
}

.header-text {
  width: 360px;
  text-align: center;
  background-color: white;
  margin: 0;
  font-size: 24px;
  padding: 16px 64px;
  border: 2px solid black;
  font-weight: 400;
  line-height: 1;
}

.worker-stats {
  width: 360px;
  text-align: center;
  background-color: white;
  margin: 0;
  font-size: 24px;
  padding: 16px 40px;
  border: 2px solid black;
  line-height: 1;
}

.cursor-box {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .ui-container {
    display: none;
  }

  .ui-container-mobile {
    width: calc(100vw - 32px);
    height: calc(100% - 32px);
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .ui-window {
    margin-top: 27%;
    width: 280px;
    height: 280px;
  }

  .ui-footer {
    margin-top: 20px;
    
  }



  .worker-stats {
    width: 280px;
    font-size: 24px;
    padding: 18px 40px;
  }
}
